.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  font-weight: bold;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  justify-content: center;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  /* width: 50%; */
}
.exampleInputPassword1 {
  width: 100%;
}
#login-submit-btn {
  width: 50%;
  display: flex;
}
.container {
  display: block;
  /* width: 55%; */
  /* padding-left: 100%; */
}
body {
  height: 100vh;
  width: 200vh;
  background-image: url("images/loginBG.jpg");
  background-size: cover;
  background-position: unset;
}
.container-2 {
  background-color: rgb(204, 203, 201);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login-heading {
  font-size: large;
  font-family: sans-serif;
}
b {
  color: aliceblue;
}
.container .signin {
  width: 50%;
}
